* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}
h1 {
  color: #fff;
}
body {
  background: antiquewhite;
}
.container {
  /* background-image: url("./images/w5.jpg"); */

  /* -webkit-filter: blur(8px); */
  /* background: linear-gradient(90deg,  #020b5b 0% , #1CB5E0 100%); */
  background: linear-gradient(90deg, #3f2b96 0%, #a8c0ff 100%);
  /* background: linear-gradient(90deg, #FDBB2D 0%, #3A1C71 100%);; */
  max-width: 600px;
  text-align: center;
  padding: 20px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
  margin: 20px auto;
  margin-top: 90px;
  border-radius: 5px;
}
form {
  display: flex;
  justify-content: space-between;
  margin: 30px;
  align-items: center;
}
form input[type="text"] {
  background-color: #e7d8d8;
  padding: 10px;
  font-size: 18px;
  width: 70%;
  border: none;
  outline: none;
  border-radius: 5px;
}
form input[type="submit"] {
  padding: 10px 20px;
  border: none;
  background-color: #c0645a;
  color: white;
  margin-left: 10px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
form input[type="submit"]:hover {
  background-color: rgb(18, 90, 234);
}
.icon img {
  width: 100px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.temp {
  color: #fff;
  font-family: cursive;
  font-size: 40px;
  font-weight: 1000;
  margin-top: 10px;
}
.desc {
  color: #fff;
  font-family: cursive;
  font-size: 30px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 20px;
}
.details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.details > div {
  font-size: 18px;
  background-color: #e7d8d8;
  padding: 20px;
  border-radius: 5px;
  margin: 10px;
  min-height: 40px;
  text-align: center;
  align-items: center;
  flex: 1;
}
